<article>
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
  <label for="email">Email</label>
	<input type="text" name="user[email]" value="<%= session[:email] %>"></input><br>
    <%= erb :"auth/user_form" %>
  </form>
</article>