<body class="main_bg">
  <article>
    <h2>Sign Up</h2>
    <form action="/users" method="POST">
      <div>
        <label for="avatar">Optional Avatar URL</label>
        <input id="avatar" type="text" name="avatar_src"/>
      </div>
      <div>
        <label for="email">Email</label>
      	<input type="text" name="email"/>
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username"/>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password"/>
      </div>
    <input type="submit" value="Submit"></input>
    </form>
  </article>
</body>