<label for="username">Username</label>
<input type="text" name="user[username]" value="<%= session[:username] %>"></input><br>
<label for="password">Password</label>
<input type="password" name="user[password_hash]"></input><br>
<input type="submit" name="Submit"></input>