html {
  font-family: 'Nunito', sans-serif;
}

nav {
  position: relative;
  float: right;
  top: 1.5em;
}

header {
  border-bottom: 1px #999 solid;
  padding: 0 1em 0;
}

a {
  text-decoration: none;
  color: #7CCFA6;
}

body {}

body.game {background-image: url(../img/anewhope2.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
}

.button {
  border: 1px solid #000;
  padding: 0.7em;
  font-size: 1.2em;
  text-align: center;
  display: inline;
  border-radius: 0.4em;
  background: #000;
}

a.button {
  color: #FFF;
}

a.button:hover {
  color: #7CCFA6;
}

a.logo {
  color: #000;
}

.logo {
  font-weight: bold;
  text-align: left;
  font-size: 3.5em;
  font-family: 'Covered By Your Grace', cursive;
  margin: 0;
}

article {
  position: relative;
  margin: auto;
  height: 35em;
  overflow: scroll;
  font-size: 1.2em;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Cutive', serif;
}

table {
  margin: auto;
}

form {
  text-align: center;
}

.profile_img {
  width: 8em;
  height: 8em;
  border: solid 1px #000;
}

.deck_cover {
  width: 20em;
  height: 20em;
}

.deck_icon {
  width: 10em;
  height: 10em;
}

.create_button {
  border: 1px solid #000;
  padding: 0.3em;
  font-size: 1em;
  text-align: center;
  display: inline;
  border-radius: 0.4em;
  background: #000;
}