<label for="question">Question <%=@num%>:</label>
<input class="input" name="question" type="text" value="" size="100"/>
<br>
<label for="answer">Answer <%=@num%></label>
<input class="input" name="answer" type="text" value="" size="50"/>