<div class="row">
  <div>
    <label for="question">Question <%=@num%>:</label>
    <input class="input" name="question" type="text" value="" size="100"/>
    </input>
  </div>
  <br>
  <div>
    <label for="answer">Answer <%=@num%></label>
    <input class="input" name="answer" type="text" value="" size="50"/>
    </input>
  </div>
</div>
