<div class="container">
<form action="/deck" method="POST">
  <label for="deck_name">Name:</label>
  <input class="input" name="deck_name" type="text" value="" size="30" />
  <label for="deck_img">Image URL:</label>
  <input class="input" name="deck_img" type="text" value="" size="30" />
  <input type="hidden" name="user_id" value="<%=@user.id%>"/>
  <input type="submit" value="Submit"/>
</form>
</div>
<div class="container">
	<% deck.cards each do |card| %>
<%= erb :"create_card", :locals => {card: card} %>
<% end %>
</div>


