<div class="container">
<form action="/deck" method="POST">
  <label for="deck_name">Name:</label>
  <input class="input" name="deck[name]" type="text" value="" size="30" />
  <label for="deck_img">Image URL:</label>
  <input class="input" name="deck[deck_img]" type="text" value="" size="30" />
  <input type="hidden" name="deck[creator_id]" value="<%=@user.id%>"/>
	  <input type="submit" value="save"/>
	  <%= erb :"card/create_card", :locals => {cards: @deck.cards, add_card: @add_card} %>
</form>
<form action="/deck/<%= @deck.id %>/complete" method="POST">
</form>
</div>


