  <label for="question">Question:</label>
  <input class="input" name="question" type="text" value="<%= cards[card_id[question]]%>" size="100" />
  <label for="answer">Answer:</label>
  <input class="input" name="answer" type="text" value="<%= cards[card_id[answer]] %>" size="100" />

