<article>
  <h2>Decks</h2>
  <p><a class="create_button" href="/deck/new">Create New Deck</a></p>
  <% if decks.empty? %>
    <p>There are currently no decks available to play.</p>
  <% else %>
    <% decks.each do |deck| %>
    <p><a href="/deck/<%=deck.id%>"><%= deck.name %></a></p>
    <% end %>
  <% end %>
</article>
