<article>
  <h2>Decks</h2>
  <% if decks.empty? %>
    <p>There are currently no decks available to play.</p>
  <% else %>
    <% decks.each do |deck| %>
    <p><a href="#"><%= deck.name %></a></p>
    <% end %>
  <% end %>
</article>