<body class="main_bg">
  <article>
    <h2>Decks</h2>
    <% if session[:user_id]%>
      <p><a class="create_button" href="/deck/new">Create New Deck</a></p>
    <% end %>

    <% if decks.empty? %>
      <p>There are currently no decks available to play.</p>
    <% else %>
      <% decks.each do |deck| %>
      <p><a href="/deck/<%=deck.id%>"><%= deck.name %></a></p>
      <% end %>
    <% end %>
  </article>
  <img class="right" src="../img/storm_trooper.png">
  <img class="left" src="../img/vader.png">
</body>