<header>
  <nav>
    <div class="button"><a href="/">Home</a></div>
    <div class="button"><a href="#">Log In</a></div>
    <div class="button"><a href="#">Sign Up</a></div>
  </nav>
  <h1 class="logo">Flashcards</h1>
</header>

<article>
  <table>
    <tr>
      <th colspan="3"><h2>Decks</h2></th>
    </tr>
    <tr>
      <td><a href="#">First Deck</a></td>
      <td><a href="#">Second Deck</a></td>
      <td><a href="#">Third Deck</a></td>
    </tr>
    <tr>
      <td><a href="#">First Deck</a></td>
      <td><a href="#">Second Deck</a></td>
      <td><a href="#">Third Deck</a></td>
    </tr>
    <tr>
      <td><a href="#">First Deck</a></td>
      <td><a href="#">Second Deck</a></td>
      <td><a href="#">Third Deck</a></td>
    </tr>
  <table>
</article>